{% extends "base.html" %}
{% block content %}
            {%for item in news%}
            <div class="wrapper-item flex">
                <a href="/{{item.id}}"><h1 class="article-title hover">{{item.title}}</h1></a>
                <p class="article-summary hover">{{item.text}}</p>
                <span class="w-35 ">{{item.date_creation}}</span>
                <div class="wrapper-image hover">
                    <img class="new-img-main" src="{{ item.image.image.url }}" alt="Ошибка ыыы"></div>
            </div>
            {% endfor %}



{% endblock %}