.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;

}
.flex{
    display: flex;
    flex-direction: column;
	    align-items: center;
}
.main-wrapper{

}


@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
font-family: "Englisht";
// адрес шрифта и тип
src: url("../fonts/englisht.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}


/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "NewYT";

			src:
			url("../fonts/misc/NewYT.woff") format("woff");,
			/*url("../fonts/AaarghRegular/AaarghRegular.ttf") format("truetype");*/
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "AaarghBold";
			src: url("../fonts/AaarghBold/AaarghBold.eot");
			src: url("../fonts/AaarghBold/AaarghBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/AaarghBold/AaarghBold.woff") format("woff"),
			url("../fonts/AaarghBold/AaarghBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
.logo{
    font-family: "NewYT";
	width: 80vw;
    text-align: center;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	    margin: auto;
	padding: .2em;
	background-color: white;
	font-size: 3em;
}
.wrapper-content{
	width: 80vw;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.new-img-main{
	width: 800px;
}
.wrapper-item{
	max-width: 35em;
	    align-items: center;
	margin-top: 1em;
	    padding-left: 10em;
    padding-right: 10em;

	border-top: 1px solid #e7e7e7;
}
.wrapper-image{
	margin-top: 1em;
}
.w-35{
	width: 35em;
}
.hover:hover {

	cursor: pointer;
}